<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\Product">
        <plugin name="Wiktor_LoggedInDiscount::price_discount" type="Wiktor\LoggedInDiscount\Plugin\PriceDiscounter" />
    </type>
</config>
